/* Estilos gerais */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../Css/malhas.jfif') no-repeat center center fixed;
    background-size: cover;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    text-align: center;
}

/* Estilo dos títulos */
h1, h2 {
    color: #333;
    margin-bottom: 20px;
}

/* Estilos dos containers de ano, mês e dia */
#yearContainer, #monthContainer, #dayContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
}

#yearContainer button, #monthContainer button, #dayContainer button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    width: 90px;
}

#yearContainer button:hover, #monthContainer button:hover, #dayContainer button:hover {
    background-color: #45a049;
}

/* Estilo da tabela */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

table th, table td {
    padding: 12px;
    text-align: center;
    border: 1px solid #ddd;
}

table th {
    background-color: #4CAF50;
    color: white;
}

table tr:nth-child(even) {
    background-color: #f9f9f9;
}

table tr:hover {
    background-color: #f1f1f1;
}

/* Estilo do checkbox */
input[type="checkbox"] {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

/* Estilo do botão de confirmar */
button.confirmar-btn {
    background-color: #2196F3;
    color: white;
    border: none;
    padding: 15px 20px;
    margin-top: 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

button.confirmar-btn:hover {
    background-color: #1976D2;
}

/* Estilo para ocultar seções inicialmente */
#monthSection, #daySection, #presenceTableSection {
    display: none;
}
