body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('malhas.jfif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

.edit-container {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: 50px;
}

.edit-container h1 {
    margin-bottom: 20px;
}

.edit-container label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
}

.edit-container input {
    width: 280px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000000;
    border-radius: 4px;
    background-color: white;
}

.edit-container button[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px; 
}

.edit-container button[type="submit"]:hover {
    background-color: #45a049;
}