body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: url('../Css/malhas.jfif') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 20px;
    border: 1px solid #000;
    background-color: #fff;
    color: black;
    border-radius: 5px;
    font-size: 18px;
    min-width: 200px;
    min-height: 60px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.button-container a, .button-container button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 30px;
    border: 1px solid #000;
    background-color: #fff;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.3s ease, color 0.3s ease;
    min-width: 200px;
    min-height: 60px;
}

.button-container a:hover, .button-container button:hover {
    background-color: #f0f0f0;
}

.button-container a.add-button, .button-container button.add-button {
    background-color: #fff;
    color: black;
}

.button-container a.add-button:hover, .button-container button.add-button:hover {
    background-color: #ddd;
}

.button-container a.back-button {
    background-color: rgb(48, 3, 250);
    color: white;
    grid-column: 2;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    min-width: 150px;
    min-height: 40px;
}

.button-container a.back-button:hover {
    background-color: rgb(17, 0, 252);
}
